.block {
  text-align: center;
  margin: 20px;
}

.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
 }

.centered {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
	height: 480px;
  padding: 10px 15px;
}

footer {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 50px;
	width: 120px;
  background: rgba(0, 0, 0, 0.0);
  padding: 5px 10px;
  margin: 5px;
	text-align: center;
  font-size: 12px;
}

.zorro {
  width: 115px;
  height: 55px;
  background: #fff;
}
